body{
background-color:#EFECEC;
}

hd{
    display: flex;
    flex-direction: row;
    position: fixed;
}

.mainlogo{
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.main{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-left: 700px;
    padding-right: 700px;

}
/* .navm{
    display: flex;
    width: 200px;
    justify-content: center;
    
    text-decoration: none;
       
    
} */
.mainimages{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 150px;
    cursor: pointer;

}

h2{
    font-size: 34px;
    color: black;
    justify-content: center;
    text-align: center;
    font-family: 'Source Serif 4', serif;
}
.subhead{
    font-size: 28px;
    color: black;
    justify-content: center;
    text-align: center;
    font-family: 'Source Serif 4', serif;
}
p{
    font-size: 22px;
    color: gray;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 27.8px;

}
.footer{
    display: flex;
    padding-top: 64px;
    padding-bottom: 52px;
    width: 100%;
    background-color: black;  
    flex-direction: column;
    font-family: 'Source Serif 4', serif;
    color: rgb(239, 236, 236); 
    justify-content: center;
    text-align: center;
}

.footer input{
    width: 358px;
    height: 54px;
    border-radius: 8px;
    text-align: left;
    border: 2px solid gray;
    margin-top: 16px;
    font-size: 23px;
    background-color: black;
}

.footer footlt{
    text-align: left;
}


